<div class="container">
    <flash-message></flash-message>
    <div class=" loading" ng-if="!$ctrl.is_page_loaded">
        <img src="/assets/img/loading.gif" />&nbsp;&nbsp;&nbsp;<span>Loading...</span>
    </div>

    <legend>Product</legend>

    <form class="form-horizontal" role="form" name="edit_product_form">
        <div class="form-group">
            <label class="col-md-2 control-label">Name</label>
            <div class="col-md-3">
                <input class="form-control" required ng-model="$ctrl.product.name" type="text" placeholder="Name">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">Price</label>
            <div class="col-md-3">
                <input class="form-control" ng-disabled="true" required ng-model="$ctrl.product.price" type="text" placeholder="Price">
            </div>
        </div>
        <div class="form-group" ng-show="$ctrl.is_data_loading">
            <div class="col-md-6 col-md-offset-2">
                <img src="/assets/img/loading.gif" />
            </div>
        </div>
        <div class="form-group" ng-hide="$ctrl.is_data_loading">
            <div class="col-md-6 col-md-offset-2">
                <input class="btn btn-success" type="submit" ng-disabled="edit_product_form.$invalid" ng-click="$ctrl.update()" value="Update">
                <input class="btn btn-danger" type="submit" ng-click="$ctrl.remove()" value="Remove product">
            </div>
        </div>
    </form>

    <uib-tabset active="activeJustified" justified="true">
        <uib-tab index="0" heading="Transactions">
            <legend>Transactions</legend>
            <form class="form-horizontal" role="form" name="add_transaction_form">
                <div class="form-group">
                    <label class="col-md-2 control-label">Quantity</label>
                    <div class="col-md-3">
                        <input class="form-control" required ng-model="$ctrl.transaction.quantity" type="number" placeholder="Quantity">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Date</label>
                    <div class="col-md-3">
                        <p class="input-group">
                            <input type="text" class="form-control" uib-datepicker-popup ng-model="$ctrl.transaction.date" is-open="$ctrl.dtPopup.opened" datepicker-options="$ctrl.dateOptions" ng-required="true" close-text="Close" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="$ctrl.openDatePicker()"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Operation</label>
                    <div class="col-md-3">
                        <select class="form-control" ng-model="$ctrl.transaction.type">
                            <option label="buy" value="buy" selected="selected">buy</option>
                            <option label="sell" value="sell">sell</option>
                        </select>
                    </div>
                </div>
                <div class="form-group" ng-show="$ctrl.is_transaction_loading">
                    <div class="col-md-6 col-md-offset-2">
                        <img src="/assets/img/loading.gif" />
                    </div>
                </div>
                <div class="form-group" ng-hide="$ctrl.is_data_loading">
                    <div class="col-md-6 col-md-offset-2">
                        <input class="btn btn-success" type="submit" ng-disabled="add_transaction_form.$invalid" ng-click="$ctrl.addTransaction()" value="Add transaction">
                    </div>
                </div>
            </form>
            <table class="table table-hover table-bordered table-sm" id="transactions_table">
                <thead>
                    <tr>
                        <th class="col-md-1">Id</th>
                        <th class="col-md-2">Quantity</th>
                        <th class="col-md-2">Price per item</th>
                        <th class="col-md-2">Total cost</th>
                        <th class="col-md-1">Type</th>
                        <th class="col-md-3">Date</th>
                        <th class="col-md-1">Action</th>
                    </tr>
                </thead>
                <tbody>
                        
                    <tr ng-repeat="transaction in $ctrl.transactions">
                        <td>{{ transaction.id }}</td>
                        <td>{{ transaction.quantity }}</td>
                        <td>{{ transaction.price_per_item }}</td>
                        <td>{{ transaction.total_cost }}</td>
                        <td>{{ transaction.type }}</td>
                        <td>{{ transaction.date | amDateFormat:'MMM D, YYYY' }}</td>
                        <td>
                            <button class="btn btn-xs btn-danger" ng-click="$ctrl.removeTransaction(transaction.id, $event)">Remove</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </uib-tab>
        <uib-tab index="1" heading="Task 1">
            <h4>How many pens does Sebastian have in stock ultimo #Date?</h4>
            <div uib-datepicker ng-model="$ctrl.task1_date" class="well well-sm" datepicker-options="$ctrl.dateOptions"></div>
            <button class="btn btn-success" ng-click="$ctrl.taskStart(1, $ctrl.task1_date)">Run</button>
            <p>{{ $ctrl.task1_res }}</p>
        </uib-tab>
        <uib-tab index="2" heading="Task 2">
            <h4>What is the value of the inventory ultimo #Date?</h4>
            <div uib-datepicker ng-model="$ctrl.task2_date" class="well well-sm" datepicker-options="$ctrl.dateOptions"></div>
            <button class="btn btn-success" ng-click="$ctrl.taskStart(2, $ctrl.task2_date)">Run</button>
            <p>{{ $ctrl.task2_res }}</p>
        </uib-tab>
        <uib-tab index="3" heading="Task 3">
            <h4>What are the costs of pen solds ultimo #Date?</h4>
            <div uib-datepicker ng-model="$ctrl.task3_date" class="well well-sm" datepicker-options="$ctrl.dateOptions"></div>
            <button class="btn btn-success" ng-click="$ctrl.taskStart(3, $ctrl.task3_date)">Run</button>
            <p>{{ $ctrl.task3_res }}</p>
        </uib-tab>
    </uib-tabset>
</div>